:root {
    --bg-color: #242629;
    --bg-card-color: #16161a;
    --heading-color: #fffffe;
    --paragraph-color: #94a1b2;
    --bg-hover-color: #7f5af0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

html {
    background-color: var(--bg-color);
    color: var(--heading-color);
    font-family: "Inter", sans-serif;
}

body {
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--heading-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

p {
    color: var(--paragraph-color);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 10px auto;
    width: 90%;
    max-width: 800px;
    padding: 1rem;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 0;
    width: 100%;
}

#content h1,
p {
    margin: 10px;
}

#project-heading {
    max-width: 60vh;
    margin: 0 auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
}

#profile-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    gap: 1rem;
}

#card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.text-link {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #3a3a3a;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.text-link:hover {
    background-color: var(--bg-hover-color);
}

.icon-link img {
    width: 30px;
    height: 30px;
}

.card {
    background-color: var(--bg-card-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vh;
    border-radius: 8px;
    margin: 20px auto;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.card a img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    #header {
        flex-direction: column;
        text-align: center;
    }

    #card-container {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 90%;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    #content h1,
    p {
        margin: 5px;
    }

    #profile-image {
        width: 100%;
        max-width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}
