@use "./variables.scss" as *;

html,
body {
    @include flex-col();
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--heading-color);
    font-family: "Inter", sans-serif;
}

body {
    padding: 1rem;
    line-height: 1.5;
}

a {
    color: var(--heading-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

p {
    color: var(--paragraph-color);
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }
}
