@use "../styles/variables.scss" as *;

#project-heading {
    max-width: 900px;
    margin: 1rem auto 1rem;
    padding: 0 1rem;
    text-align: center;
}

#project-heading h1 {
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
}

#project-heading p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    margin: 0;
}

@media (max-width: 768px) {
    #project-heading {
        margin: 1rem auto 0.75rem;
        padding: 0 1rem;
    }

    #project-heading p {
        font-size: 0.85rem;
    }
}
