@use "../styles/variables.scss" as *;

#content {
    @include flex-col();
    flex: 1;
    padding: 0;
    width: 100%;
}

#content h1,
p {
    margin: 10px;
}

@media (max-width: 600px) {
    #content h1,
    p {
        margin: 5px;
    }
}
